* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b0211;
    font-family: 'poppins';

}

.main-container {
    width: 32%;
    padding: 20px;
    border: 1px solid #252525;
    border-radius: 10px;
    display: flex;
    background-color: #3d353f;
    flex-flow: column;
    cursor: pointer;
    box-shadow: 1px 1px 10px #9f9fa7;
    gap: 10px;
}

label {
    color: #fff;
    font-size: 18px;
}

.input {
    width: 90%;
    height: 35px;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 8px;
    outline: none;

}
.aggr{
    margin: auto;
    color: rgb(20, 212, 20);
    letter-spacing: 1.2px;
    font-size: 16px;
    height: 20px;
}
.btn {
    padding: 8px 10px;
    font-size: 16px;
    background-color: rgb(0, 0, 58);
    color: rgb(234, 243, 252);
    border-radius: 9px;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 1px 1px 2px 2px black;
}
.btn:hover{
    box-shadow: 0 0 2px 1px black;
    transform: translateY(-2px);
}
img{
    display: none;
}
@media (max-width: 1132px) {
    .main-container{
        width: 38%;

    }
}
@media (max-width: 992px) {

    .main-container{
        width: 45%;
    }
}
@media (max-width: 892px) {
    .main-container{
        width: 54%;
        
    }
}
@media (max-width: 786px) {
    .main-container{
        width: 59%;
        
    }
}
@media (max-width: 688px) {
    .main-container{
        width: 66%;
        
    }
}
@media (max-width: 608px) {
    body{
        background-color: #fff;
        padding: 0;
        justify-content: flex-start;
    }
    .main-container{
        width: 100%;
        background-color: #fff;
        border: transparent;
        border-radius: 0;
        padding: 25px;
        box-shadow: 0 0 0;

    }
    img{
        display: block;
        width: 100%;

    }
    label,h2{
        color: rgb(82, 11, 11);
    }
    .input{
        width: 94%;
        background-color:rgb(3, 3, 82) ;
        color: white;
    }
}
@media (max-width: 490px) {

    .main-container{
        padding: 32px;
    }
    .input{
        width: 98%;

    }
}
@media (max-width: 448px) {
    .main-container{
        padding: 38px;
    }
}
@media (max-width: 424px) {
    .main-container{
        padding: 45px;
    }
}
@media (max-width: 386px) {

    .main-container{
        padding: 46px;
    }
    .input{
        width: 99%;
    }
    label{
        font-size: 15px;
    }
}

